@import url(/proxima/proxima);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'proxima', sans-serif;
	color: black;
	line-height: 17.05px;
	font-weight: 300;
	font-size: 14px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    line-height:29.66px;
    color: white;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.92px;
    text-transform: uppercase;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 21.92px;
}

p {
	font-weight: 300;
	line-height: 17.05px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
    cursor: pointer;
}

.button-1 {
    border: 2px solid #BCBEC0;
    background-color: white;
    border-radius: 24px;
    padding: 3px;
    gap: 10px;
    z-index: 999;
}

.button-1 span {
    border-radius: 24px;
    box-shadow: 0 0 0 0.5px #231F20;
    padding: 10px 50px;
    gap: 10px;
    z-index: 1;
}

.button-1:hover {
    background-image: url('../images/collection/group_1/background_btn.svg');
    background-color: black;
	background-position: right top;
	background-repeat: no-repeat;
    color: white;
    z-index: 999;
}

.button-1:hover span {
    border: 1px solid white;
}

.button-2 {
    border: 2px solid #BCBEC0;
    background-color: #231F20;
    border-radius: 24px;
    padding: 3px;
    gap: 10px;
    z-index: 999;
}

.button-2 span {
    border-radius: 24px;
    box-shadow: 0 0 0 0.5px white;
    padding: 10px 50px;
    color: white;
    z-index: 1;
    gap: 10px;
}

.button-2:hover {
    background-image: url('../images/footer/background_btn.png');
    background-color: white;
	background-position: right top;
	background-repeat: no-repeat;
}

.button-2:hover span {
    border: 1px solid #231F20;
    color: #231F20;
}

header, header > *, main, button, button span,
.banner, .banner ul,
.collection, .item__title,
.hot__list, .hot__bar, .bar__title, .hot__list-items, .hot__item, .item__info,
footer, form, form div, .footer__bottom, .footer__links, .footer__links li, .footer__icon, .footer__source {
    display: flex;
}

.banner, .scroll,
.collection, .item__title,
.hot__list, .hot__bar, .hot__list-items,
footer {
    position: absolute;
}

header {
    justify-content: space-between;
    position: relative;
    padding: 0 30px;
    top: 40px;
    z-index: 999;
}

.header__logos {
    gap: 46px;
}

.header__links {
    gap: 30px;
}

main {
    gap: 40px;
}

.banner {
    flex-direction: column;
    gap: 5px;
    top: 0;
    right: 0;
    left: 0;
}

.banner ul {
    justify-content: space-between;
    gap: 5px;
}

.banner ul img {
    width: 100%;
}

.scroll {
    top: 755px;
    left: 665px;
}

.collection {
    top: 1445px;
    right: 0;
    gap: 10px;
}

.item__title {
    flex-direction: column;
    padding: 20px;
    bottom: 20px;
    gap: 10px;
}

.item__title h4, .item__title p {
    color: white;
}

.new--line_down {
	width: 43px;
	border-bottom: 1px solid white;
	margin-top: 2px;
}

.hot__list {
    flex-direction: column;
    width: 100%;
    top: 1970px;
    right: 0;
    left: auto;
    gap: 40px;
}

.hot__bar {
    width: calc(100% - 80px);
    justify-content: space-between;
    padding: 0 40px;
    left: 40px;
}

.bar__title {
    flex-direction: row;
    margin: auto 0;
    gap: 20px;
}

.hot__list-items {
    top: 60px;
    right: 0;
    gap: 10px;
}

.hot__item {
    flex-direction: column;
    gap: 15px;
}

.item__info {
    flex-direction: column;
    gap: 10px;
}

footer {
    background-image: url('../images/footer/background_img.png');
    background-color: #231F20;
    flex-direction: column;
	background-position: center;
	background-repeat: no-repeat;
    align-items: center;
    width: 100%;
    top: 2652px;
    gap: 40px;
}

form {
    width: calc(100% - 80px);
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #696969;
    padding-bottom: 40px;
    margin-top: 69px;
    gap: 30px;
}

form div {
    gap: 20px;
}

form input {
    background-image: url('../images/footer/email.png');
    border: 1px solid #BCBEC0;
    background-color: white;
	background-repeat: no-repeat;
    background-position-x: 90%;
	background-position-y: 50%;
    border-radius: 24px;
    padding: 11px 20px;
}

.footer__bottom {
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    gap: 30px;
}
.footer__links {
    gap: 60px;
}

.footer__links li {
    max-width: fit-content;
	flex-direction: column;
	gap: 5px;
}

.footer__links li a {
    color: white;
}

.links__underline {
	width: 100%;
	border-bottom: 0.5px solid white;
}

.footer__icon {
    width: 100%;
    gap: 20px;
}

.highline {
    margin: auto 0;
	width: 100%;
	height: 1px;
	border: 1px solid #696969;
}

.footer__source {
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    gap: 20px;
}

.footer__source p {
    color: white;
}

footer>img {
    width: 100%;
    margin-top: 25px;
}