@font-face {
    font-family: 'proxima';
    src: url(../proxima/ProximaNova-Regular.woff);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'proxima', sans-serif;
	color: black;
	line-height: 17.05px;
	font-weight: 300;
	font-size: 14px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    line-height:29.66px;
    color: white;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.92px;
    text-transform: uppercase;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 21.92px;
}

p, a {
	font-weight: 300;
	line-height: 17.05px;
}

a {
    color: black;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
    cursor: pointer;
}

.button-1 {
    display: flex;
    border: 2px solid #BCBEC0;
    background-color: white;
    cursor: pointer;
    border-radius: 24px;
    position: relative;
    padding: 3px;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.button-1:hover::before {
    content: "";
    position: absolute;
    background-image: url('../images/collection/group_1/background_btn.svg');
    background-position: right center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.button-1 span {
    display: flex;
    border-radius: 24px;
    box-shadow: 0 0 0 0.5px #231F20;
    padding: 10px 50px;
    color: black;
    gap: 10px;
}

.button-1:hover {
    background-color: black;
}

.button-1:hover span {
    box-shadow: 0 0 0 0.5px white;
    color: white;
}

.button-2 {
    display: flex;
    border: 2px solid #BCBEC0;
    background-color: #231F20;
    position: relative;
    cursor: pointer;
    border-radius: 24px;
    padding: 3px;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.button-2 span {
    display: flex;
    border-radius: 24px;
    box-shadow: 0 0 0 0.5px white;
    padding: 10px 50px;
    color: white;
    gap: 10px;
}

.button-2:hover {
    background-color: white;
}

.button-2:hover::before {
    content: "";
    position: absolute;
    background-image: url('../images/footer/footer_btn.svg');
    background-position: right center;
    background-repeat: no-repeat;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.button-2:hover span {
    box-shadow: 0 0 0 0.5px #231F20;
    color: #231F20;
}

.hidden {
    display: none !important;
}

body {
    position: relative;
}

header {
    padding: 40px 0 0;
    z-index: 999;
    position: fixed;
    width: 100%;
}

header.hide {
    top: -100%;
}

header .header__desktop {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    z-index: 999;
}

.header__logos {
    display: flex;
    gap: 46px;
}

.pop__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 0;
    padding: auto 0;
}

.pop__header .header__form {
    width: 100%;
    flex-direction: row;
    gap: 10px;
}

.header__form input {
    width: 100%;
    border: none;
    outline: none;
}

.header__form input::placeholder {
    text-transform: uppercase;
    width: 100%;
}

.header__links {
    display: flex;
    gap: 30px;
}

.header__mobile {
    display: none;
}

.header__open {
    height: 1024px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
}

.header__open .menu__open {
    display: none;
}

.menu__open {
	width: 430px;
    height: 100vh;
	background-color: white;
	background-image: url('../images/menu-open/menu_background.svg');
	background-position: right;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu__collection {
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 40px;
}

.menu__collection * {
	text-transform: uppercase;
}

.menu__collection h4 {
	display: flex;
	gap: 10px;
}

.menu__collection h4 strong {
	text-transform: capitalize;
}

.menu__collection ul {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.menu__footer {
	display: flex;
	flex-direction: column;
	padding: 15px 30px;
	gap: 18px;
}

.menu__footer .footer__top {
    display: flex;
    gap: 10px;
}

.highline {
    margin: auto 0;
	width: 100%;
	height: 1px;
	border: 1px solid #EAEAEA;
}

.menu__footer .footer__bottom {
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	position: relative;
	bottom: 0;
}

.category__open {
	padding: 0 30px;
    padding-top: 30px;
	background-color: white;
	background-image: url('../images/menu-open/category_background.svg');
	background-position: left;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
    position: absolute;
    right: 0;
	gap: 30px;
}

.category__bar {
	display: flex;
	justify-content: space-between;
}

.category__title {
	display: flex;
	flex-direction: row;
	margin: auto 0;
	gap: 20px;
}

.category__title h3 {
	text-transform: uppercase;
}

.category__products {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.category__products li {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.product__title {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header__pop-up {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 45px;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid #EAEAEA;
    position: absolute;
    top: 100%;
    left: 0;
    gap: 20px;
}

.pop__result {
	margin: 0 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EAEAEA;
	display: flex;
	gap: 10px;
}

.pop__result a {
	display: flex;
	border-radius: 24px;
	border: 1px solid #EAEAEA;
	padding: 5px 15px;
    line-height: 13.4px;
    font-size: 11px;
	gap: 5px;
}

.pop__result a span::first-letter {
	text-transform: uppercase;
}

.pop__main {
	display: flex;
	flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main__title {
    width: 100%;
	display: flex;
	flex-direction: row;
    padding: 0 40px;
	gap: 10px;
}

.pop-main .swiper > div {
    padding: 0 40px 46px 40px;
}

.pop__main .main__pro {
    display: flex;
    gap: 10px;
}

.pop__main .main__pro .swiper-wrapper {
    margin: 0 30px;
}

.pop__main .main__pro .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pop__main .main__pro .swiper-wrapper .swiper-slide div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__pop-up .pop__main .main__pro p {
    text-align: left;
    line-height: 17.05px;
    font-weight: 300;
    font-size: 14px;
}

.pop__main button {
    width: fit-content;
}

.opacity__background {
    background-color: black;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 40px;
}

.banner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection__mobile .swiper-button-next,
.banner__slides .swiper-button-next {
    width: 35px;
    height: 35px;
    background-color: #fff5;
    border-radius: 50%;
}

.collection__mobile .swiper-button-next img,
.banner__slides .swiper-button-next img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .mySwiper {
    position: relative;
}

main .banner .mySwiper .dots {
    display: flex;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
}

main .banner .mySwiper .dots .swiper-pagination-bullets {
    width: 5px;
    height: 5px;
}

.mySwiper .swiper-pagination-bullet  {
    width: 5px;
    height: 5px;
    background-color: white;
    opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
    background: white;
    border-radius: 50px;
    width: 100px;
}

.banner .mySwiper .swiper-pagination {
    bottom: 50px;
}

.banner__slides ul {
    display: flex;
    justify-content: space-between;
}

.banner__slides ul li img {
    height: 100%;
    object-fit: contain;
}

.banner__slides .swiper-button-next {
    padding: auto;
    display: none;
}

.banner__slides .swiper-button-next img {
}

.collection__desktop {
    width: 100%;
    display: flex;
    overflow: scroll;
    padding: 0 30px;
    gap: 10px;
}

.collection__desktop::-webkit-scrollbar {
    width: 0;
}

.collection__item {
    position: relative;
}

.item__title {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    bottom: 5px;
    gap: 5px;
}

.item__title h4, .item__title a {
    color: white;
}

.item__title a {
    width: fit-content;
    padding-bottom: 5px;
	border-bottom: 1px solid white;
}

main .collection__mobile {
    display: none;
}

.hot__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.hot__bar {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.bar__title {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    gap: 20px;
}

.hot__list-items {
    display: flex;
    overflow: scroll;
    padding: 0 40px;
    gap: 10px;
}

.hot__list-items::-webkit-scrollbar {
    width: 0;
}

.hot__item {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
}

.hot__item:hover .item__selection {
    visibility: visible;
}

.item__selection {
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    gap: 27px;
    visibility: hidden;
}

.item__size {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 5px;
}

.item__size label {
    font-size: 11px;
    line-height: 13.4px;
}

#size {
    border-radius: 24px;
    border: 1px solid #EAEAEA;
    padding: 0 10px;
    display: flex;
    gap: 5px;
}

.item__selection button span {
    padding: 10px 20px;
    border-radius: 100px;
}

.hot__list-items .item__info {
    display: flex;
    flex-direction: column;
    line-height: 13.4px;
    gap: 10px;
}

.item__info a {
    color: black;
}

.hot__button {
    display: none;
}

footer {
    display: flex;
    background-image: url('../images/footer/background_img.png');
    background-color: #231F20;
    flex-direction: column;
	background-position: center;
	background-repeat: no-repeat;
    align-items: center;
    width: 100%;
    gap: 40px;
}

footer form {
    display: flex;
    width: calc(100% - 80px);
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #696969;
    padding-bottom: 40px;
    margin-top: 69px;
    gap: 30px;
}

form div {
    display: flex;
    gap: 20px;
}

footer form input {
    background-image: url('../images/footer/email.png');
    border: 1px solid #BCBEC0;
    background-color: white;
	background-repeat: no-repeat;
    background-position-x: 90%;
	background-position-y: 50%;
    border-radius: 24px;
    padding: 11px 20px;
}

footer .footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    gap: 30px;
}

.footer__links__desktop {
    display: flex;
    gap: 60px;
}

.footer__links__desktop li {
    display: flex;
    max-width: fit-content;
	flex-direction: column;
    background-color: #231F20;
	gap: 5px;
}

.footer__links__desktop li a {
    color: white;
}

.links__underline {
	width: 100%;
	border-bottom: 0.5px solid white;
}

.footer__bottom .footer__links__mobile {
    display: none;
}

.footer__icon {
    display: flex;
    width: 100%;
    gap: 20px;
}

.highline {
    margin: auto 0;
	width: 100%;
	height: 1px;
	border: 1px solid #696969;
}

.footer__source {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.footer__source p {
    color: white;
}

footer>img {
    width: 100%;
    margin-top: 25px;
}

/* responsive */

@media (min-width: 1441px) {
    .banner .mySwiper .swiper-pagination {
        bottom: 70px;
    }

    main .banner .mySwiper .dots{
        gap: 30px;
    }

    .mySwiper .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .mySwiper .swiper-pagination-bullet-active {
        width: 200px;
        height: 10px;
    }

    .collection__desktop,
    .hot__list-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .collection__desktop .collection__item img {
        width: 100%;
    }

    .item__info,
    .item__title a,
    .footer__links__desktop a {
        font-size: 20px;
    }

    .item__title {
        gap: 10px;
    }

    .item__title h4,
    .bar__title h3 {
        font-size: 24px;
    }

    .item__selection {
        justify-content: space-between;
    }

    .footer__links__desktop {
        gap: 80px;
    }

    footer form h2 {
        font-size: 30px;
    }
}

@media (max-width: 431px) {
    body, main {
        width: 100%;
    }

    main {
        gap: 0;
    }

    header {
        top: 60px;
    }

    .header__links, .header__logos {
        display: none;
    }

    .header__mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header__mobile ul {
        display: flex;
        gap: 20px;
    }

    .banner {
        gap: 0;
    }

    .slide__banner img {
        content: url('../images/banner/banner_mobile.svg');
        width: 100%;
        height: auto;
    }

    .banner__slides ul {
        width: 100%;
        gap: 0;
    }

    .banner__slides ul li,
    .banner__slides ul li img {
        width: 100%;
    }

    .banner .mySwiper .swiper-pagination {
        bottom: 45px;
    }

    .banner__slides .swiper-button-next::after,
    .collection__mobile .swiper-button-next::after {
        display: none;
    }

    .banner__slides .swiper-button-next:hover,
    .collection__mobile .swiper-button-next:hover {
        background-color: white;
    }

    .banner__slides .swiper-button-next {
        display: block;
    }

    .collection__desktop {
        display: none;
    }

    main .collection__mobile {
        display: block;
    }

    .hot__list {
        margin: 50px 0;
        gap: 20px;
    }

    .hot__bar, .hot__list-items {
        padding: 0 20px;
    }

    .hot__bar button {
        display: none;
    }

    .item_1 img {
        content: url('../images/collection/group_2/1.svg');
    }
    
    .item_2 img {
        content: url('../images/collection/group_2/2.svg');
    }
    
    .item_3 img {
        content: url('../images/collection/group_2/3.svg');
    }
    
    .item_4 img {
        content: url('../images/collection/group_2/4.svg');
    }

    .hot__item:hover .item__selection {
        visibility: hidden;
    }

    .hot__button {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hot__button span {
        padding: 10px 160px;
    }

    form,
    .footer__bottom {
        width: calc(100% - 40px);
    }

    form {
        border-bottom: unset;
        padding-bottom: 0;
        gap: 40px;
    }

    .footer__bottom {
        border-top: 1px solid #696969;
        padding: 20px 0 0;
        gap: 20px;
    }

    .footer__links__desktop {
        display: none;
    }

    .footer__bottom .footer__links__mobile {
        display: flex;
    }

    .footer__links__mobile ul {
        width: 100%;
        margin-left: -180px;
        gap: 20px;
    }

    .footer__links__mobile ul li {
        display: flex;
        max-width: fit-content;
        min-width: fit-content;
        flex-direction: column;
        background-color: #231F20;
        gap: 5px;
    }

    .footer__links__mobile ul li a {
        color: white;
        font-size: 14px;
    }

    .footer__source {
        padding: 0;
    }

    .footer__source p {
        font-size: 11px;
        line-height: 13.4px;
        margin: auto 0;
    }

    footer > img {
        content: url('../images/footer/bottom_img_mobile.svg');
        width: 100%;
        height: auto;
    }
}